Repository ppc64le-cloud/docker-ce-build: changes, and which Prow jobs are due for each by the changed paths.
All: postsubmit-build-docker, postsubmit-test-docker-staging, postsubmit-test-docker-release

Path conditions:
  postsubmit-build-docker: any of: env/env.list
  postsubmit-test-docker-staging: any of: env/test-staging.list
  postsubmit-test-docker-release: any of: env/test-release.list

Job commit: job/periodic-config-docker
  job/periodic-config-docker
Due: none

Update periodic CI script introductory display messages
  upstream-master-ci/prow-build-dev-image.sh
  upstream-master-ci/prow-info-docker.sh
Due: none

Docker 28.0.4 and containerd v1.7.26 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Docker 28.0.4 and containerd 1.7.26 staging test re-attempt
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build containerd v1.7.27
  env/env.list
Due: postsubmit-build-docker

Job commit: job/postsubmit-build-docker
  job/postsubmit-build-docker
Due: none

1.0-ppc64le
  build-docker.sh
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  test.sh
  upstream-master-ci/integration-cli.sh
Due: postsubmit-build-docker

0.1-ppc64le
  build-docker.sh
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  test.sh
  upstream-master-ci/integration-cli.sh
Due: postsubmit-build-docker

Bump go version to 1.23.0 for containerd testing
  test-containerd/test_on_powervs.sh
Due: none

Build Docker v28.1.0-rc.1 and containerd1.7.27 (to generate packages for Debian trixie)
  env/env.list
Due: postsubmit-build-docker

Build Docker v28.1.0
  env/env.list
Due: postsubmit-build-docker

Remove software-properties-common from Debian test Dockerfiles
  test-DEBS/Dockerfile
  test-repo-DEBS/Dockerfile
Due: none

Test Docker v28.1.0 and containerd v1.7.27 on release
  env/test-release.list
Due: postsubmit-test-docker-release

Build Docker v28.1.1
  env/env.list
Due: postsubmit-build-docker

1.0-ppc64le
  build-docker.sh
  env/env.list
  images/docker-in-docker/Dockerfile
  prereq-images/build-docker.sh
  prow-build-docker.sh
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  test.sh
  upstream-master-ci/integration-cli.sh
Due: postsubmit-build-docker

Test whether images have been obtained
  build-docker.sh
Due: none

1.0-ppc64le
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  test.sh
  upstream-master-ci/integration-cli.sh
Due: postsubmit-build-docker

Scripts to use 1.0-ppc64le DinD image
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  test.sh
  upstream-master-ci/integration-cli.sh
Due: postsubmit-build-docker

Test Docker v28.1.1 staging
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build Docker v28.2.1
  env/env.list
Due: postsubmit-build-docker

Docker 28.2.1 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Retest Docker v28.2.1 staging
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build Docker v28.2.2
  env/env.list
Due: postsubmit-build-docker

Docker v28.2.2 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

1.1-ppc64le
  env/env.list
  images/docker-in-docker/Dockerfile
  test-DEBS/Dockerfile
  test-RPMS/Dockerfile
  test-launch.sh
  test-repo-DEBS/Dockerfile
  test-repo-RPMS/Dockerfile
  test-static-alpine/Dockerfile
  upstream-master-ci/integration-cli.sh
Due: postsubmit-build-docker

Build Docker v28.3.0
  env/env.list
Due: postsubmit-build-docker

Docker v28.3.0 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build Docker v28.3.1
  env/env.list
Due: postsubmit-build-docker
