Repository ppc64le-cloud/docker-ce-build: changes, and which Prow jobs are due for each by the changed paths.
All: postsubmit-build-docker, postsubmit-test-docker-staging, postsubmit-test-docker-release

postsubmit-build-docker:
  labels:
    preset-build-docker: 'true'
  decorate: true
  spec:
    containers:
    - image: quay.io/powercloud/docker-ce-build@sha256:f93b6d36ad414d30f584c6555d8c2116de58bd56601da36f4e13d4b5b624114a
      resources:
        requests:
          cpu: 8000m
        limits:
          cpu: 8000m
      command:
  ...

postsubmit-test-docker-staging:
  labels:
    preset-build-docker: 'true'
  decorate: true
  spec:
    containers:
    - image: quay.io/powercloud/docker-ce-build@sha256:2231f00d1b1af02c018ea8f2f2ee2a890174d0bb0ce7067d128519e442776cbc
      resources:
        requests:
          cpu: 8000m
        limits:
          cpu: 8000m
      command:
  ...

postsubmit-test-docker-release:
  labels:
    preset-build-docker: 'true'
  decorate: true
  spec:
    containers:
    - image: quay.io/powercloud/docker-ce-build@sha256:2231f00d1b1af02c018ea8f2f2ee2a890174d0bb0ce7067d128519e442776cbc
      resources:
        requests:
          cpu: 8000m
        limits:
          cpu: 8000m
      command:
  ...

Change CONTAINERD to CONTAINERD_VERSION
  test-launch.sh
Due: none

Use a single tag for Docker CLI and Engine
  README.md
  env/env.list
  get-env.sh
Due: postsubmit-build-docker

Obtain the runc version expected programmatically and verify it for dynamic binaries
  get-env-test.sh
  test-launch.sh
  test.sh
Due: none

Job commit: job/postsubmit-build-docker
  job/postsubmit-build-docker
Due: none

Set FILE_ENV
  get-env-test.sh
Due: none

Build Docker v27.4.1 and containerd v1.7.24
  env/env.list
Due: postsubmit-build-docker

Add postsubmit-ci-docker to check successful periodic-config-docker execution
  job/periodic-config-docker
Due: none

Update LICENSE to 2025
  LICENSE
Due: none

Add scripts that will be run by the CI test jobs
  setup-pj-trigger.sh
  trigger-prow-job-from-git.sh
  upstream-master-ci/info.sh
  upstream-master-ci/prow-build-dev-image.sh
  upstream-master-ci/prow-info-docker.sh
  upstream-master-ci/prow-integration-tests.sh
  upstream-master-ci/prow-unit-test-docker.sh
Due: none

Build Docker v27.5.0 and containerd v1.7.25
  env/env.list
Due: postsubmit-build-docker

Test staging Docker v27.5.0 and containerd v1.7.25
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build Docker v27.5.1
  env/env.list
Due: postsubmit-build-docker

Docker v27.5.1 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Docker v27.5.1 release tests
  env/test-release.list
Due: postsubmit-test-docker-release

Exclude EOL Debian Bullseye from builds
  build-containerd.sh
  build-docker.sh
  env/env.list
  test.sh
Due: postsubmit-build-docker

Remove Debian-Buster and Ubuntu-Impish exclusion workarounds
  build-containerd.sh
  build-docker.sh
  build-static.sh
  env/env.list
  test.sh
Due: postsubmit-build-docker

Fix false errors that show despite no errors
  check-tests.sh
Due: none

Add the file job/periodic-config-docker which gets updated on successful execution of periodic-config-docker and acts as a trigger for postsubmit CI jobs
  job/periodic-config-docker
Due: none

Build Docker v28.0.0
  env/env.list
Due: postsubmit-build-docker

Docker v28.0.0 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build Docker v28.0.1
  env/env.list
Due: postsubmit-build-docker

Docker v28.0.1 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Docker v28.0.1 release tests
  env/test-release.list
Due: postsubmit-test-docker-release

Add source file to get date to commit to prow-job-tracking branch
  upstream-master-ci/prow-info-docker.sh
Due: none

Build Docker v28.0.2
  env/env.list
Due: postsubmit-build-docker

Docker v28.0.2 staging tests
  env/test-staging.list
Due: postsubmit-test-docker-staging

Build Docker v28.0.4 and containerd v1.7.26
  env/env.list
Due: postsubmit-build-docker

Job commit: job/periodic-config-docker
  job/periodic-config-docker
Due: none

Path conditions:
  postsubmit-build-docker: any of: env/env.list
  postsubmit-test-docker-staging: any of: env/test-staging.list
  postsubmit-test-docker-release: any of: env/test-release.list
